/* General container styles for both SignIn and SignUp */
.signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #141e30, #243b55); /* Fondo degradado oscuro */
  padding: 1rem; /* Agrega un padding para evitar que el contenido se pegue a los bordes en pantallas pequeñas */

}

.signin-form-container{
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  transition: all 0.3s ease-in-out; /* Transiciones suaves al cambiar el tamaño */

}

h2 {
  color: #243b55;
  margin-bottom: 1.5rem;
}

p {
  color: #666;
  margin-top: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  text-align: left; /* Esto asegura que el texto dentro del grupo esté alineado a la izquierda */
}

.form-group label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #333;
}

.form-group input {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  width: 95%; /* El ancho ahora es el 100% del contenedor para mejor adaptación */
  max-width: 100%; /* Asegura que el ancho nunca sea mayor que el contenedor */
}




input {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #243b55;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #141e30;
}

.signin-link {
  margin-top: 1rem;
  color: #666;
}

.signin-link span {
  color: #243b55;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s;
}

.signin-link span:hover {
  color: #141e30;
}


.error-message {
  background-color: #ffcccc;
  color: #e60000;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #e60000;
  border-radius: 5px;
  transition: opacity 0.5s ease-out; /* Para animar la desaparición */
}


/* Media Queries para pantallas más pequeñas */
@media (max-width: 768px) {
  .signin-form-container {
    padding: 1.5rem;
    width: 100%;
    max-width: 90%; /* Reduce el ancho máximo en pantallas más pequeñas */
  }

  .form-group input {
    font-size: 0.9rem;
    padding: 0.6rem; /* Ajusta el tamaño del padding para dispositivos más pequeños */
  }

  .sign-in-btn {
    font-size: 1rem;
    padding: 0.6rem;
  }
}

/* Media Queries para pantallas muy pequeñas (móviles) */
@media (max-width: 480px) {
  .signin-form-container {
    padding: 1rem;
    max-width: 95%;
  }

  h2 {
    font-size: 1.5rem;
  }

  .form-group input {
    font-size: 0.8rem;
    padding: 0.5rem;
  }

  .sign-in-btn {
    font-size: 0.9rem;
    padding: 0.5rem;
  }
}